:root{
	--mainColor: #e63e3d;
	--mainColorStronger: #ce1c1b;
	--secondaryColor: white;
	--mainColorText: #46515B;
	--secondaryColorText: white;
	--codeCellColor: #eff0f1;
}

body {
	background-color : var(--secondaryColor);
	color: var(--mainColorText);
	text-align: center;
		font-family: Georgia;
}

body > header {
	  margin: 1% 0% 2% 0;
}

article {
	line-height: 1.8;
	text-align: justify;
	margin: 2.5% 25%;
	padding: 0 5%;
	color: var(--mainColorText);
}

h1 {
	text-transform: uppercase;
}

section {
	margin: 5% 0 0 0;
}

section > p {
	font-size: 110%;
}

article > footer {
	margin-top: 5%;
	margin-bottom: 2.5%;
}

figcaption {
	font-style: italic;
}

span {
	word-wrap: break-word
}

.title {
    font-family: a;
    font-weight: normal;
    font-size: 350%;
    line-height: 0.5;
}

.titlePartRed {
    color: var(--mainColor);
}

.sub-title {
  font-family: loveloB;
    font-weight: normal;
    font-size: 200%;
    margin: 10px;
    line-height: 0.5;
}

.button-navigation 
{
	padding:1em 1.5em;
	text-transform:uppercase;
	background-color : var(--secondaryColor);
	color: var(--mainColorStronger);
	border: 2px solid var(--mainColorStronger);
	cursor: pointer;
}

.button-navigation:hover {
	font-weight: bold;
	color:var(--secondaryColorText);
	background-color: var(--mainColor);
}

.article-image {
	max-width:100%;
	max-height:100%;
}

.code {
	margin: 0 2.5%;
	background-color: var(--codeCellColor);
}

#disclaimer {
    margin: 2.5% 0% 0% 0%;
	padding: 1px 0px;
    background-color: var(--mainColor);
	color: var(--secondaryColorText);
}

@media only screen and (max-width:800px) {
	article {
		margin: 0 10%;
	}
}